In [2]:
# We are importing necesasry libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# importing the iitnit data to python environment

df=pd.read_csv(r"C:\Users\darsh\Downloads\Python\Assignment\adult.csv")

In [4]:
#  Top 10 Rows of The Dataset

df.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [5]:
# Last 10 Rows of The Dataset 

df.tail(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [6]:
# Shape of Our Dataset

df.shape

(48842, 15)

In [7]:
# Information About Our Dataset Like Total Number of Rows, Total Number of Columns, Datatypes Of Each Column And Memory Requirement 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [8]:
# Random Samples From The Dataset

df.sample(50)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
34889,44,Private,219441,10th,6,Never-married,Sales,Unmarried,Other,Female,0,0,35,Dominican-Republic,<=50K
16948,42,Private,247019,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,>50K
26059,67,?,243256,9th,5,Married-civ-spouse,?,Husband,White,Male,0,0,15,United-States,<=50K
29829,42,Private,212894,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Husband,White,Male,2407,0,40,United-States,<=50K
45559,64,Private,114994,Some-college,10,Separated,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K
42727,21,Private,27255,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,?,<=50K
5215,36,Private,263574,Assoc-voc,11,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,<=50K
22220,36,Private,107410,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
47823,40,Private,311534,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K
40217,19,?,217194,10th,6,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K
1373,78,Private,135692,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
26346,71,Private,179574,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,12,United-States,>50K
43529,26,Private,39212,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,United-States,<=50K
11836,20,Private,155066,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,60,United-States,<=50K
31204,18,Private,169745,7th-8th,4,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
17993,49,Private,105444,12th,8,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,39,United-States,<=50K
42027,42,Private,125280,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,3137,0,40,United-States,<=50K
44945,24,Private,234460,9th,5,Never-married,Machine-op-inspct,Own-child,Black,Female,0,0,40,Dominican-Republic,<=50K
44864,52,Private,203392,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,5013,0,40,United-States,<=50K
25488,21,Private,198431,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Female,0,0,40,United-States,<=50K
38331,43,Private,214781,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,5178,0,40,United-States,>50K
31221,53,Self-emp-not-inc,291755,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,United-States,<=50K
5239,60,Private,194589,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K
20881,53,Private,79324,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
10319,42,Self-emp-not-inc,114580,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,70,United-States,<=50K
34491,31,Private,240771,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,4386,0,50,United-States,>50K
13969,66,Private,199374,Masters,14,Widowed,Sales,Unmarried,White,Female,0,0,20,United-States,<=50K
9559,36,Private,172571,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
47139,33,Private,65278,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
229,77,?,172744,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
23871,38,Private,100295,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,50,Canada,>50K
26362,25,Private,120238,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
37562,62,Self-emp-inc,56248,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,2415,60,United-States,>50K
34907,35,Private,189382,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
37287,28,Private,339372,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
27924,28,Private,411950,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Male,0,0,40,United-States,<=50K
4650,47,Private,98524,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
21383,62,Private,73292,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
4304,32,?,373231,Some-college,10,Never-married,?,Unmarried,Black,Female,0,0,40,United-States,<=50K
45185,27,?,29361,Assoc-acdm,12,Never-married,?,Not-in-family,White,Female,0,0,45,United-States,<=50K
45060,24,Private,211391,10th,6,Never-married,Sales,Not-in-family,White,Female,0,0,15,United-States,<=50K
37487,50,Private,158680,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
12552,59,Private,159770,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32378,45,Private,102076,Some-college,10,Divorced,Prof-specialty,Unmarried,White,Female,0,0,32,United-States,<=50K
9890,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
22808,36,Private,82743,Assoc-acdm,12,Never-married,Transport-moving,Not-in-family,White,Male,0,0,55,Iran,<=50K
39515,72,Private,158092,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,0,0,30,United-States,<=50K
26208,18,?,271935,11th,7,Never-married,?,Other-relative,White,Female,0,0,20,United-States,<=50K
37248,20,Private,224640,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
17455,47,Private,183013,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K

In [9]:
# Null Values in the Dataset 

df.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [10]:
# Data Cleaning (Replace '?' with NaN)

df["occupation"].str.replace("?","NaN")

0        Machine-op-inspct
1          Farming-fishing
2          Protective-serv
3        Machine-op-inspct
4                      NaN
               ...
48837         Tech-support
48838    Machine-op-inspct
48839         Adm-clerical
48840         Adm-clerical
48841      Exec-managerial
Name: occupation, Length: 48842, dtype: object

In [11]:
# Drop All The Missing Values in Dataset

df.dropna()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
# Check The Duplicate Values And Drop Them

df.duplicated().sum()

np.int64(52)

In [13]:
df1=df.drop_duplicates()

In [19]:
# Overall Statistics About The DataFrame

df1.describe(include="all")

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,48790.000000,48790,4.879000e+04,48790,48790.000000,48790,48790,48790,48790,48790,48790.000000,48790.000000,48790.000000,48790,48790
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,33860,NaN,15770,NaN,22366,6165,19703,41714,32614,NaN,NaN,NaN,43792,37109
mean,38.652798,NaN,1.896690e+05,NaN,10.078807,NaN,NaN,NaN,NaN,NaN,1080.217688,87.595573,40.425886,NaN,NaN
std,13.708493,NaN,1.056172e+05,NaN,2.570046,NaN,NaN,NaN,NaN,NaN,7455.905921,403.209129,12.392729,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.175550e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.781385e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.376062e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [15]:
# Drop the Column 'educational-num', 'capital-gain', 'capital-loss'

df1.drop(columns=["educational-num","capital-gain","capital-loss"])

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,226802,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,89814,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,160323,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,103497,Some-college,Never-married,?,Own-child,White,Female,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
48838,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
48839,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
48840,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [22]:
# The Most Common Education Level

df1["education"].value_counts().head(1)

education
HS-grad    15770
Name: count, dtype: int64

In [17]:
# Average Hours Worked for ">50K" Income

avg=df1

In [ ]:
# Percentage of Females in "Machine-op-inspct" Occupation

In [53]:
# Average Age for Each Occupation

df1.groupby("occupation")["age"].mean()

occupation
?                    40.094118
Adm-clerical         37.201927
Armed-Forces         31.466667
Craft-repair         39.013930
Exec-managerial      42.202894
Farming-fishing      41.353535
Handlers-cleaners    32.659102
Machine-op-inspct    37.746768
Other-service        35.101850
Priv-house-serv      43.554167
Prof-specialty       40.568370
Protective-serv      38.916497
Sales                37.418288
Tech-support         37.161938
Transport-moving     40.651380
Name: age, dtype: float64

In [41]:
# Most Common Race Among "Never-married"

df1.loc[df1["marital-status"]=="Never-married","race"].value_counts().head(1)

race
White    13187
Name: count, dtype: int64

In [ ]:
# Percentage of People with a College Degree or Higher

In [51]:
# The Employee with the Highest "fnlwgt"

float(df1['fnlwgt'].idxmax())

7974.0

In [52]:
# The Standard Deviation of "age"

float(df1["age"].std())

13.708492897986408

In [ ]:
# A New Column Named "age_group" that Categorizes People into Young (<=30), Middle-aged (31-60), and Senior (>60) 

df1.

In [44]:
# All Employees Who Work More Than 50 Hours Per Week

df1[df1['hours-per-week']>50]

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
53,22,Private,54164,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,14084,0,60,United-States,>50K
54,38,Private,219446,9th,5,Married-spouse-absent,Exec-managerial,Not-in-family,White,Male,0,0,54,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48811,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
48812,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K